/* Adiciona margem e padding ao redor do corpo e do HTML */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; /* Exemplo de fonte do Google Fonts */
}

/* Estilo para o cabeçalho */
header {
    background-color: #008000; /* Cor do cabeçalho ajustada para o Bootstrap */
    color: #fff; /* Cor do texto dentro do cabeçalho */
    padding: 20px 0;
    text-align: center; /* Centraliza o texto */
}

/* Estilo para o texto dentro do h3 */
header h3 {
    color: #fff; /* Cor do texto dentro do h3 */
}

/* Estilo para o rodapé */
footer {
    background-color: #008000; /* Cor do rodapé ajustada para o Bootstrap */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
